SECRET_KEY=django-insecure-changez-moi-en-production-xxxxxxxxxxxxxxxx
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=bourse_db
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0

FINNHUB_API_KEY=votre_cle_finnhub
ALPHA_VANTAGE_KEY=votre_cle_alpha_vantage

TELEGRAM_BOT_TOKEN=123456789:ABC-votre-token-botfather

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=votre@gmail.com
EMAIL_HOST_PASSWORD=mot_de_passe_application
